<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yujian.petmii">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>

    <application
        android:name=".PetmiiApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/PetmiiTheme">
        <activity
            android:name=".frame.ui.LaunchActivity"
            android:theme="@style/PetmiiTheme.Full">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frame.ui.LoginActivity"
            android:theme="@style/PetmiiTheme.NoActionBar" />
        <activity android:name=".feeder.ui.ConfigActivity"/>
        <activity
            android:name=".feeder.ui.ResetDeviceActvity"
            android:label="@string/title_reset" />
        <activity
            android:name=".feeder.ui.UserProtocolActivity"
            android:label="@string/user_protocol" />
        <activity
            android:name=".feeder.ui.WifiConfigActivity"
            android:label="@string/title_config_wifi" />
        <activity
            android:name=".feeder.ui.AddFeederActivity"
            android:label="@string/title_add_feeder" />

        <activity android:name=".feeder.ui.FeederMainActivity"
            android:theme="@style/PetmiiTheme.Full"
            android:label="@string/feeder"/>

        <activity
            android:name=".frame.ui.RegisterActivity"
            android:theme="@style/PetmiiTheme.NoActionBar" />
        <activity
            android:name=".frame.ui.MainActivity"
            android:theme="@style/PetmiiTheme.NoActionBar" />

        <activity android:name=".feeder.ui.WifiChooserActivity"
            android:label="@string/title_choose_wifi"/>
    </application>

</manifest>